.App {
  text-align: center;
  font-family: "Prata", serif;
  font-size: 16px;
  color: white;
  background-color: #00022a;
}
.App .header {
  background-color: #000019;
  text-align: right;
  padding: 10px;
}
.App .hero-image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: end;
}
.App .hero-image img {
  grid-column: 1/-1;
  width: 100%;
  grid-row: 1/-1;
}
.App .hero-image .hero-image {
  z-index: 1;
}
.App .logo-white {
  margin: -10%;
  z-index: 2;
}
.App .copy {
  margin: 148px 248px;
  text-align: left;
}
