@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

.headingFont {
    font-family: 'Amarante', cursive;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: 'Prata', serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

h1,
h2 {
    .headingFont;
}

p {
    line-height: 2.8rem;
}

img {
    display: block;
    width: 100%;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;

    i {
        font-size: 3.2rem;
        font-style: normal;
    }

    a {
        color: white;
        display: block;
        padding: 24px;
        text-decoration: none;
        transform: scale(1, 1);
        transition-duration: 0.24s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.47, 0.46, 0, 2.47);

        &:hover {
            transform: scale(1.2);
        }
    }
}

header {
    background-color: #00022a;
    display: grid;
    height: 100vh;
    max-height: 620px;
    min-height: 520px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    @media screen and (min-width: 768px) {
        max-height: unset;
        min-height: 620px;
    }

    @media screen and (min-width: 1024px) {
        max-height: unset;
        min-height: 820px;
    }

    section.hero-image-fg,
    section.hero-image-bg {
        align-items: end;
        display: flex;
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        justify-content: center;
        overflow: hidden;
        pointer-events: none;

        img {
            min-width: 768px;
        }
    }

    section.hero-image-fg {
        z-index: 1;
    }

    section.hero-image-text {
        align-self: end;
        display: flex;
        flex-direction: column;
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        justify-self: center;
        transform: translateY(-330px);

        .text-container {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        h1,
        h2 {
            line-height: 100%;
            margin: 0;
        }

        h1 {
            font-size: 108px;
            letter-spacing: -10px;
            margin-bottom: -10px;
        }

        h2 {
            font-size: 32px;
            transform: translateX(20px);

            span {
                display: inline-block;
                width: 64px;
            }
        }

        @media screen and (min-width: 769px) {
            transform: translateY(-42.5vw);

            h1 {
                font-size: 17.25vw;
            }

            h2 {
                font-size: 5.25vw;

                span {
                    width: 9vw;
                }
            }
        }

        @media screen and (min-width: 960px) {
            transform: translateY(-42.25vw);

            h1 {
                font-size: 14vw;
            }

            h2 {
                font-size: 4vw;
                transform: translateX(24px);
            }
        }
    }

    section.hero-image-text-bg {
        mix-blend-mode: hard-light;

        div.text-container {
            h1,
            h2 {
                animation: throughSpaceAndTime 5s linear infinite both;
                background: linear-gradient(
                    -45deg,
                    rgba(82, 238, 186, 1) 0%,
                    rgba(35, 166, 213, 1) 33%,
                    rgba(142, 35, 213, 1) 66%,
                    rgba(231, 60, 126, 1) 100%
                );
                background-size: 400% 400%;
                background-position: center;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
            }

            h1 {
                transform: scale(1.05) skew(0deg, 1deg) translateX(-3px);
                transform-origin: center;
            }

            h2 {
                transform: translateX(23px) scale(1.025) skew(0deg, 1deg);
                transform-origin: center center;
            }
        }
    }

    section.turtle-logo-container {
        align-self: end;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        justify-self: center;
        mix-blend-mode: hard-light;
        padding: 48px;
        z-index: 1;
    }

    a.turtle-logo-circle {
        align-items: center;
        animation: throughSpaceAndTime 9.99s linear infinite both;
        background: linear-gradient(
            -45deg,
            rgba(82, 238, 186, 1) 0%,
            rgba(35, 166, 213, 1) 33%,
            rgba(142, 35, 213, 1) 66%,
            rgba(231, 60, 126, 1) 100%
        );
        background-position: center;
        background-size: 400% 400%;
        border-radius: 100%;
        border: 2px white solid;
        background-color: #8b2ac6;
        box-shadow: 0 0 6px 3px white;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 148px;
        justify-content: center;
        padding: 10px 25px;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 0.36s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        width: 148px;

        img {
            grid-column: ~'1 / -1';
            grid-row: ~'1 / -1';
            opacity: 1;
            transform: scale(0.9);
            transition-duration: 0.32s;
            transition-property: opacity, transform;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:nth-child(1) {
                mix-blend-mode: screen;
            }

            &:nth-child(2) {
                opacity: 0;
                mix-blend-mode: soft-light;
                transition-delay: 0.12s;
            }

            &:nth-child(3) {
                mix-blend-mode: soft-light;
                transition-duration: 0.32s;
                transition-delay: 0.24s;
            }
        }

        &:hover {
            transform: scale(1.2);

            img:nth-child(1) {
                transform: scale(1);
            }

            img:nth-child(2) {
                opacity: 1;
                transform: scale(1);
            }

            img:nth-child(3) {
                opacity: 0;
                transform: scale(2);
            }
        }
    }
}

@keyframes throughSpaceAndTime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.intro-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 48px 7vw;
    padding-inline: 64px;

    p {
        max-width: 55ch;
    }

    small {
        line-height: 24px;
    }
}

.simon-and-the-crew-container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    overflow: hidden;

    .black-bevel {
        background-color: black;
        border-radius: 100%;
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        height: 200px;
        transform: translateY(-50px);
        width: 125%;
    }

    img.simon-schema {
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        margin-top: 236px;
        width: 116%;
    }

    img.simon-and-the-crew {
        border: 2.5vw white solid;
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        width: 75vw;
        max-width: 380px;
        z-index: 1;
    }
}

footer {
    justify-items: center;
    background-color: white;
    display: grid;
    align-items: end;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    img {
        grid-row: ~'1 / -1';
        grid-column: ~'1 / -1';
    }

    img.turtle-camp-logo {
        align-self: start;
        transform: translateY(20px);
        width: 25vw;
        z-index: 1;
    }
}
