@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

.headingFont {
    font-family: 'Amarante', cursive;
}

html {
    font-size: 62.5%;
}

body {
    background-color: black;
    color: white;
    font-family: 'Prata', serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

h1,
h2 {
    .headingFont;
}

p {
    line-height: 2.8rem;
}

img {
    display: block;
    width: 100%;
}

nav {
    position: fixed;
    right: 0;
    top: 0;

    i {
        font-size: 3.2rem;
        font-style: normal;
    }

    a {
        color: white;
        display: block;
        padding: 24px;
        text-decoration: none;
        transform: scale(1, 1);
        transition-duration: 0.24s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.47, 0.46, 0, 2.47);

        &:hover {
            transform: scale(1.2, 1.2);
        }
    }
}

header {
    background-color: #00022a;
    display: grid;
    height: 100vh;
    // min-height: 960px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    z-index: -1;

    @media screen and (max-width: 768px) {
        min-height: unset;
        max-height: 620px;
    }

    @media screen and (min-width: 1024px) {
        min-height: 768px;
    }

    section.hero-image-bg {
        align-items: end;
        display: flex;
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        justify-content: center;
        overflow: hidden;
        pointer-events: none;

        img {
            min-width: 620px;
        }
    }

    section.hero-image-text {
        align-self: end;
        display: flex;
        flex-direction: column;
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        justify-self: center;
        transform: translateY(-266px);

        .text-container {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        h1,
        h2 {
            line-height: 100%;
            margin: 0;
        }

        h1 {
            font-size: 108px;
            letter-spacing: -10px;
            margin-bottom: -10px;
        }

        h2 {
            font-size: 32px;
            transform: translateX(20px);

            span {
                display: inline-block;
                width: 60px;
            }
        }

        @media screen and (min-width: 621px) {
            transform: translateY(-42vw);

            h1 {
                font-size: 17.25vw;
            }

            h2 {
                font-size: 5.25vw;

                span {
                    width: 10vw;
                }
            }
        }

        @media screen and (min-width: 960px) {
            transform: translateY(-43vw);

            h1 {
                font-size: 14vw;
            }

            h2 {
                font-size: 4vw;
                transform: translateX(20px);
            }
        }
    }

    section.hero-image-fg {
        align-items: end;
        display: flex;
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        justify-content: center;
        overflow: hidden;
        pointer-events: none;
        z-index: 1;

        img {
            min-width: 620px;
        }
    }
}

section.turtle-logo-container {
    align-items: center;
    height: 0;
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;

    div.turtle-logo-circle {
        background-color: black;
        height: 20vw;
        min-height: 160px;
        width: 20vw;
        min-width: 160px;
        border-radius: 100%;
        box-sizing: border-box;
        padding: 24px 39px;
    }
}

.intro-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 64px 7vw;
    padding-inline: 64px;

    p {
        max-width: 55ch;
    }

    small {
        line-height: 24px;
    }
}

.simon-and-the-crew-container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    overflow: hidden;

    .black-bevel {
        background-color: black;
        border-radius: 100%;
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        height: 200px;
        transform: translateY(-50px);
        width: 125%;
    }

    img.simon-schema {
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        margin-top: 236px;
        width: 116%;
    }

    img.simon-and-the-crew {
        border: 2.5vw white solid;
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        width: 75vw;
        max-width: 380px;
        z-index: 1;
    }
}

footer {
    justify-items: center;
    background-color: white;
    display: grid;
    align-items: end;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    img {
        grid-row: ~'1 / -1';
        grid-column: ~'1 / -1';
    }

    img.turtle-camp-logo {
        align-self: start;
        transform: translateY(20px);
        width: 25vw;
        z-index: 1;
    }
}
